/* GENERAL STYLING */
.maincontainer input, .maincontainer button{
    border: none;
    border-radius: 10px;
    background: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.maincontainer button{
    cursor: pointer;
}

.maincontainer .selectedbttn{
    background: #60B84B !important;
    color: #FFFFFF !important;
}

.maincontainer .selectedbttn::placeholder{
    background: #60B84B !important;    
    color: #FFFFFF !important;
}
.maincontainer .selectedtimer{
    background: #D60000 !important;
    color: #FFFFFF !important;
}

.maincontainer .radio{
    width: 1rem !important;
    height: 1rem !important;
}

.maincontainer{
    width: 40rem;
    height: 30rem;
    border-radius: 10px;
    background: #FFF;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #9F9F9F;
    align-items: center;
    position: relative;
}

.maincontainer .questionclass{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    /* background-color: yellow; */
}

.maincontainer .questionclass .questionnumbercontainer{
    display: flex;
    align-items: center;
}

.maincontainer .questionclass h4{
    font-size: 1rem;
    font-weight: 400;
}
.maincontainer .questionclass .questionnumbercontainer > img{
    margin-top: 1rem;
    cursor: pointer;
    height: 2rem;
}

.maincontainer .questionclass .questionnumbercontainer .questionnumber{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: #FFF;
    filter: drop-shadow(0px 0px 10px rgba(150, 66, 66, 0.15));
    display: flex;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}
.maincontainer .questionclass .questionnumbercontainer .selectedquestion{
    border : 1px solid green;
}
.maincontainer .questionclass .questionnumbercontainer > div{
    position: relative;
}
.maincontainer .questionclass .questionnumbercontainer > div > img{
    position: absolute;
    top: -8px;
    left: 2rem;
}
.maincontainer input{
    width: 80%;
    padding-left: 8px;
    height: 2.5rem;
}

.maincontainer .optiontype{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.maincontainer .optiontype h4{
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
}

.maincontainer .optiontype div label{
    font-size: 1rem;
}
.maincontainer .optioncontainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 12rem;
}

.maincontainer .optioncontainer button{
    color: inherit;
    width: 13rem;
    height: 2rem;
    margin-top: 8px;
}

.maincontainer .optioncontainer .option{
    display: flex;
    align-items: center;
}

.maincontainer .optioncontainer .option input{
    margin-left: 8px;
    width: 10rem;
    height: 2rem;
    margin-bottom: 8px;
    margin-right: 8px;
}

.maincontainer .optioncontainer .option img{
    cursor: pointer;
}

.maincontainer .timer{
    position: absolute;
    top:14rem;
    left: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.maincontainer .timer h4{
    margin: 0px;
}
.maincontainer .timer button{
    width: 4rem;
    color: inherit;
    margin-top: 8px;
}

.maincontainer .createquiz{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 1rem;
}

.maincontainer .createquiz button{
    width: 14rem;
    height: 2rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    color: black
}

.maincontainer .createquiz button:first-child:hover{
    background-color: lightgray;
}